/* IMPOSTAZIONI GENERALI */
body {
    line-height: 1.7em;
    margin: 3em 3em;
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/sfondo.png);
    background-position: center;
    font-size: 1.2em;
}

header, iframe, section h2, aside h2 {
    text-align: center;
}

main {
    padding: 2em;
    box-shadow: 0 5px 10px rgb(0, 0, 0);
}

header, footer {
    background: #3c88a8;
    background-image: linear-gradient(#3c88a8, #135673);
    color: white;
    
}

/* HEADER */
header {
    
    text-transform: uppercase;
    font-weight: bold;
    font-weight: 600;
    box-sizing: border-box;
    font-size: 0.8em;
    padding: 1em;
}

header img {
    margin: 0;
    height: 15%;
}

header p, header ul {
    margin: 5% 0%;
}

header a {
    color: white;
    text-decoration-line: none;
}

header ul {
    line-height: 1.5em;
    list-style-type: none;
}

/* MAIN */

main {
    background-color: white;
}
/* ELEMENTI NEL MAIN - ARTICLE */

main h1 {
    font-weight: bold;
    font-size: 1.3em;
    font-weight: 500;
    line-height: 1.5em;
}

main p, main ul, ol, table {
    font-size: 0.8em;
    line-height: 1.5em;
}

.citazione {
    color: rgb(174, 174, 174);
}

main ul, ol {
    margin-left: 1.5em;
}

.label {
    background-color: rgb(210, 208, 208);
    border-radius: 0.3em;
    border: 0.1em solid gray;
}

.bold_pink {
    font-weight: bold;
    color: rgb(190, 39, 94);
    font-weight: 500;
}

/* TABELLE */

table {
    border-collapse: collapse;
    text-align: center;
    line-height: 3em;
    border-bottom: 2px solid #4769c2;
}

th, td {
    border: 0.3px solid white;
    width: 5em;
}

caption {
    font-style: italic;
    font-weight: bold;
    font-weight: 600;
    line-height: normal;
}

th {
    line-height: normal;
    background-color: #4769c2;
    vertical-align: middle;
    color: white;
}

.row_gray {
    background-color: rgb(226, 226, 226)
}


/* FORM */

h2 {
    font-weight: bold;
    font-weight: 500;
}

.link_blue {
    color: rgb(72, 152, 170);
}

iframe {
    border-radius: 1.5em;
}

section, aside div {
    background-color:  rgb(226, 226, 226);
    padding: 0.7em;
}

section h2, aside h2 {
    text-transform: uppercase;
}

/* ELEMENTI NELL' ASIDE */

aside div {
    border: 1px solid rgb(168, 167, 167);
}

.data_right {
    text-align: right;
}

input {
    border: 0;
    border-bottom: 0.1em dashed;
}

button {
    background-color: #4769c2;
    font-weight: bold;
    color: white;
}

/* FOOTER */

#link_magenta {
    color: magenta;
    font-weight: bold;
}

footer {
    text-align: center;
    font-size: 0.8em;
    line-height: 1.3em;
    padding: 1.3em;
}
